body{
    display: flex;
    justify-content: center;
}

.main{
    width: 1200px;
    display: flex;    
}

.left{
    background-color: red;
    flex-grow: 1;

}

.right{
    background-color: blue;
    flex-grow: 2;
}